# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.envVessel

# Databases
*.db
*.sqlite3

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS / Misc
.DS_Store
Thumbs.db

# JSON files
.json
